
.card-header {
    background-color: #e58e5e;
    background-image: linear-gradient(147deg, #e58e5e 0%, #e5625e 61%);
    color:white;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction: column;
/* background-color: #e5e059;
background-image: linear-gradient(147deg, #e5e059 0%, #e5625e 61%); */
};

.card-section {
    background-color: lightgoldenrodyellow;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;

}

.rest-card{
    background-color: lightcyan;
    width: 30%;
    padding:1rem;
}


.card-button {
    text-decoration:none;
    color: white;
    background-color: #e5625e;
    padding: .75rem;
    margin: .5rem;
    border-radius: .75rem;
    font-size:1rem;
    font-weight:bold;
    border:none;
    width: 25%;
};

