
.links {
    text-decoration:none;
    color: white;
    background-color: #e5625e;
    padding: .75rem;
    margin: .5rem;
    border-radius: 1rem;
    height:10vh
}

.buttons {
    text-decoration:none;
    color: white;
}